[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dotenv = "*"
django-cors-headers = "*"
django-extensions = "*"
djangorestframework = "*"
drf-yasg = "*"
psycopg2-binary = "*"
face-recognition = "*"
djangorestframework-simplejwt = "*"
django-rest-swagger = "*"

[scripts]
superuser = "python manage.py createsuperuser --no-input"
migrate = "python manage.py migrate"
makemigrations = "python manage.py makemigrations"
dev = "python manage.py runserver"
start = "python manage.py runserver 0.0.0.0:8000"
manage  = "python manage.py"
tests = "pipenv run pytest -v"
gendocs = "python manage.py collectstatic"
showmigration = "python manage.py showmigrations"

[dev-packages]

[requires]
python_version = "3.10"
