[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dotenv = "*"
django-cors-headers = "*"
django-extensions = "*"
djangorestframework = "*"
drf-yasg = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
